<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    {% block head %}
        <title>Marcelo Tedesco de Miranda</title>
    {% endblock %}

</head>
<body>

    <header>
        <div class="links">
            <a href="/">SOBRE</a>
            <a href="/portfolio">AULAS</a>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>
</html>